.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.column {
  width: 25vw;
  margin: 1.5rem;
}

.backlog {
  background: rgb(212, 63, 63);
}

.toDo {
  background: rgb(210, 200, 93);
}

.inProgress {
  background: rgb(112, 210, 93);
}

.completed {
  background: rgb(93, 188, 210);
}

.item {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 1rem;
}

.column > p {
  font-size: 2rem;
  font-weight: bold;
}

.item p {
  padding: 0 1rem;
}
